.nationality{
    width: 235px;
    height: 27px;
    flex-shrink: 0;
    color: #111;
    font-family: WorkSans, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}